/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-bg);
  color:var(--color-text-primary);
  min-height: 100vh;
  padding:var(--space-3) var(--space-4);
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  font-size: var(--fs-sm-body);
  font-weight: var(--fw-regular);
}

button {
  cursor: pointer;
  transition: transform 0.1s ease;
}

button:active {
  transform: scale(0.95);
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  padding-left: var(--space-6);
  padding-right: var(--space-6);
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-heading);
  font-size: var(--fs-h4);
  font-weight: var(--fw-medium);
  color: var(--color-text-primary);
}
header div {
  border: var(--border-standard);
  border-radius: var(--radius-ex-sm);
  padding: 1px var(--space-sm);
}
main{
  margin-top: var(--space-3);
}
main .score-board{
  display:flex;
  justify-content: center;
  gap: var(--space-6);
  align-items: center;
}
main .score-board .player{
  border: var(--border-standard);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:var(--space-1) var(--space-5);
  box-shadow:0 0 10px var(--color-light-backdrop);
}

main .score-board .turn-shower{
  border: var(--border-standard);
  border-radius: var(--radius-sm);
  padding: var(--space-2);
  display: flex;
  gap: 3px;
  height: fit-content;
  box-shadow:0 0 10px var(--color-light-backdrop);
}
main .score-board .turn-shower img{
  width: 20px;
  height: 20px;
}
main .score-board .p-1{
  border-left:var(--color-disc-red) 5px solid;
}
main .score-board .p-2{
  border-right:var(--color-disc-yellow) 5px solid;
}
main .game-board {
  display:flex;
  justify-content: center;
  align-items: center;
}
main .game-board img{
  height:600px;
  width:auto;
}

footer button{
  border-radius: 10px;
  padding: 10px var(--space-4);
  border: var(--border-standard);
  display: flex;
  align-items:center ;
  justify-content: center;
  gap: var(--space-1);
  background-color: transparent;
  box-shadow:0 0 10px var(--color-light-backdrop);
}
footer{
  display: flex;
  flex-grow: 0;
  justify-content: center;
  gap: var(--space-3);
}
footer .Restart{
  background-color: var(--color-primary);
  color: var(--color-bg);
  border:none;
}