*{
    padding: 0;
    margin: 0;
}


.header{
    width: 1280px;
    height: 56px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    padding: 1px solid black
}
 

.text{
    width: 195px;
    height: 48px;
}



/*  */
