*{
    margin: 0;
    padding: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
body{
    padding: 50px;
}
.winner-logo{
    height: 128px;
    width: 96px;
    object-fit: cover;
}
.win-statement{
    width: 245px;
    height: 40px;
}
.win-statement p{
    font-size: 40px;
}
.win-statement span{
    font-size: 40px;
    color: rgba(239, 68, 68, 1);
}
.match-comp{
    height: 72px;
    width: 126px;
    font-size: 16px;
}
.time-moveout{
    height: 127px;
    width: 464px;
    display: flex;
    text-align: top;
    justify-content: space-evenly;
    padding-bottom: 48;
}
.time{
    font-size: 10px;
    color: rgba(148, 163, 184, 1);
}
.moves{
    font-size: 18px;
    color: rgba(51, 65, 85, 1);
}
.again{
    height: 68px;
    width: 464px;
    background-color: rgba(191, 219, 254, 1);
    padding-bottom: 30px;
}
.next-match{
    height: 56px;
    width: 56px;
}
.add{
    height: 56px;
    width: 224px;
    display: flex;
    justify-content: space-between;
}
